@font-face {
  font-family: "basis33";
  src: url("/assets/fonts/basis33.ttf") format('truetype');
}

.top-header {
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background: rgb(22,22,22);;
}

body {
  background: linear-gradient(90deg, rgba(21,21,21,1) 1%, rgba(48,48,48,1) 100%);
}

.an-title {
  font-size: 200px;
  color:white;
  text-align:center;
  font-family: "basis33", monospace;
}
