.top-header {
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

body {
  background: linear-gradient(90deg, rgba(50, 50, 50, 1) 2%, rgba(136, 136, 136, 1) 50%, rgba(50, 50, 50, 1) 100%);
}
